body{
background-color:#9D9A52;
}
a{
text-decoration:none;
}
a:hover{
 background-color: yellow;
}
#img1 img
{
width:300px;
height: 300px;
}
#img1{
    padding-top: 20px;
}
#img1 #text{
    position: absolute;
top:90px;
    left: 350px;
    width: 400px;
text-align: justify;
}
#content #myFrame
{
position:absolute;
top:90px;
left:770px;
}
#img1 #text1{
    position: absolute;
top:400px;
    left: 350px;
    width: 400px;
text-align: justify;
}
#content1 #myFrame1
{
position:absolute;
top:400px;
left:770px;
}

#img1 #text2{
    position: absolute;
top:740px;
    left: 350px;
    width: 400px;
text-align: justify;
}
#content2 #myFrame2
{
position:absolute;
top:740px;
left:770px;
}

#img1 #text3{
    position: absolute;
top:1050px;
    left: 350px;
    width: 400px;
text-align: justify;
}
#content3 #myFrame3
{
position:absolute;
top:1050px;
left:770px;
}